.report {
    border: thin ridge black;
    border-radius: 2px 3px;
    background-color: lightgray;
    width: 50%;
    margin:auto;
    margin-top: 2em;
    text-align:center;
}

.report span.system {
    font-weight: bold;
    padding-right: 1ex;
}

.report span.fault{
    font-style: italic;
    color: darkred;
    padding-left: 1ex;
}